<h2> Please login into the site </h2>

<form method="post" action="/login">
  <label for="username-input-login">Username:</label>
  <input id="username-input-login" type="text" name="loginUsername">

  <br>

  <label for="password-input-login">Password:</label>
  <input id="password-input-login" type="password" name="loginPassword">

  <br>

  <button> LOG IN </button>

</form>

<p>
  Don't have an account, please <a href="/signup">Sign Up</a>
</p>
